

@import '../../../vendor/sass-mq/mq';
@import '../../../vendor/bootstrap-sass/assets/stylesheets/bootstrap/_variables';
@import '../../../vendor/bootstrap-sass/assets/stylesheets/bootstrap/_mixins';
@import '../../../vendor/frontend/app/assets/sass/variables/_standard.scss';


#semesterstart {
  //float: left;
  img {
    height: auto;
  }
  header {
    margin-bottom: 3rem;
    //min-height: 7rem;
  }
}
.semester-start {
  .tablet {
    .footable-toggle {
      display: none;
    }
  }
}
.semester-start-details-item-moreinfo {
  height: 0;
  //display: none;
  overflow: hidden;
}
.semester-start-details-item {
  //width: 49%;
  //float: left;
  margin-bottom: 1rem;
  //background: #fff;
  border: .1rem solid #eee;
  border-radius: $border-radius-small;
  &:hover {
    cursor: pointer;
  }
  &.lo-half {
    &:hover {
      cursor: inherit;
    }
    width: 49%;
    margin-right: 1rem;
    padding: 1rem;
    &:nth-child(odd) {
      margin-right: 0;
    }
  }
  h1 {
    //text-transform: capitalize;
    font-size: 1.6rem;
  }
  .fade-content {
    width: 100%;
    height: 4rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 8), rgba(255, 255, 255, 1));
  }
  a:hover {
    text-decoration: underline;
  }
}
.newstudent {
  border: 0;
  border-radius: $border-radius-small;
  background: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  &:before, &:after{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(-3deg);
  }
  &:after{
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }



  &:hover {
    cursor: default;
  }
  position: relative;
  padding-top: 2rem;
  margin-bottom: 3.5rem;
  h1 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  img {
    height: auto;
  }
  .semester-start-details-item-moreinfo {
    transition: max-height .4s ease;
    max-height: 25rem;
    overflow: hidden;
    height: auto;
  }
  .newstudent-readmore {
    position: absolute;
    bottom: -1.7rem;
    //background: #eee;
    //padding: .5rem 1rem;
    left: 26%;
    //border-bottom-left-radius: .4rem;
    //border-bottom-right-radius: .4rem;
  }
  &.open {
    .semester-start-details-item-moreinfo {
      max-height: 500rem;
      //display: block;
    }
    .newstudent-readmore,
    .fade-content {
      display: none;
    }
  }
}
.breadcrumb{
  li{
    margin-left: 0;
  }
}

// -----------------------------------------------------------
// -----------------------------------------------------------
// Output
@include mq($until: small) {
  .semester-start-details-item {
    &.lo-half {
      width: 100%;
      margin-right: 0;
      padding: 1rem;
    }
  }
  .newstudent-readmore {
    left: 5%;
  }

}

@include mq($from: small, $until: large) {


}

@include mq($from: large) {}

@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dppx) {}
