{{#ifCond meta.type 'studystart'}}
<ol class="breadcrumb">
  <li><a href="#/finn-studie">Velg studium/kurs</a></li>
  {{#if meta.courseId}}<li class="active"><a href="#/detaljer/{{meta.courseId}}">Detaljer for {{meta.courseId}}</a></li>{{/if}}
  {{#if meta.id}}<li><a href="#">{{capitalizeFirstLetter page.[0].pagetitle}}</a></li>{{/if}}
</ol>
{{/ifCond}}
